body {
	background: url(../images/bodybg.gif);
	background-position: right top;
}

#header {
	padding: 20px;
	background: gold;
}

button,input,select{
	border-radius: 0px !important;
}

#content {
	background: #fff;
	padding: 20px;
}

#footer {
	background: green;
	padding: 20px;
}